@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* common */
body {
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  width: 1280px;
  margin: auto;
}

.top-banner {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  background-color: rgb(49, 74, 18);
}

.header-contents-top {
  display: flex;
  justify-content: flex-end;
}

.utility {
  display: flex;
  padding: 0 10px;
}

.utility > li > a {
  line-height: 40px;
  font-size: 13px;
  color: #747474;
  letter-spacing: 0.25px;
}

.utility > li:nth-child(1),
.utility > li:nth-child(2) {
  margin-right: 16px;
}

.utility > li:nth-child(3) {
  margin-right: 21px;
  position: relative;
}

.utility > li:nth-child(3) ::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  color: #ddd;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.card-link {
  position: relative;
  margin-right: 15px;
}

.cart-num {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-1px);
  background-color: #3d5c16;
  color: #fff;
  padding: 0px 5.13px 0px 5.12px;
  border-radius: 7.5px;
  font-size: 9px;
  line-height: 15px;
}

.header-contents-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb-area {
  display: flex;
}
.gnb-area > h1 {
  margin-right: 108px;
  background: url(../img/logo.png);
  width: 140px;
  height: 55px;
  font-size: 0;
  color: transparent; /*오퍼시티 0으로 글씨 안보이게*/
  text-indent: -9999px; /*글자를 아예 바깥으로 빼는 것*/
}

.gnb {
  display: flex;
  gap: 48px;
  padding: 0 24px;
}

.gnb > li > a {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 60px;
  color: #444;
}

.search-box {
  border-bottom: 1px solid #555;
  height: 32px;
  width: 210px;
  box-sizing: border-box;
  align-items: center;
}

.search-box > input#search {
  border: none;
  font-size: 17px;
  color: #444;
  font-weight: 500;
}

.search-box > input#search:focus {
  outline: none;
}

.main-banner {
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.main-banner > ul {
  display: flex;
}

.main-banner > ul > li {
  flex-shrink: 0;
}

.product-1 {
  padding-top: 70px;
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
}

.product-slider {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.product-slider > li > a {
  width: 188px;
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  gap: 10px;
}

.product-slider > li span {
  display: block;
  text-align: center;
  font-size: 15px;
  letter-spacing: -0.25px;
  line-height: 1.5;
  color: #000;
}

.nav-btn {
  width: 29px;
  height: 44px;
  background: #fff url(../img/Button-Previous.svg) no-repeat;
  border: none;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-next.nav-btn {
  background-image: url(../img/Button-Next.svg);
  right: 0;
}

.product-1-box {
  position: relative;
}

.banner-box {
  margin-top: 72px;
  display: flex;
  justify-content: center;
}
.product.tab {
  margin-top: 100px;
}
.tab-title {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn-tab-title {
  border: none;
  background: none;
  width: 132px;
  height: 34px;
  box-sizing: border-box;
  font-size: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  line-height: 32px;
  border: 1px solid transparent;
}
.btn-tab-title.active {
  color: #fff;
  background-color: #000;
}
.btn-tab-title.default {
  border-color: #222;
  color: #222;
}
.tab-contents {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.tab-contents > ul {
  display: flex;
  gap: 23px;
}
.tab-contents > ul > li > a {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .item-inf {
    .decs {
      font-size: 17px;
      letter-spacing: 0.25px;
      line-height: 1.3px;
      color: #000;
      margin-bottom: 6px;
    }
    .price {
      font-size: 15px;
      color: #aaa;
      margin-bottom: 2px;
    }
    .sale-price-area {
      font-weight: 700;
      .sale-price {
        font-size: 15px;
        color: #555;
      }
      .sale-per {
        font-size: 15px;
        color: #46bb90;
      }
    }
  }
}
.new {
  width: 46px;
  height: 24px;
  font-size: 10px;
  color: #46bb90;
  border: 1px solid #46bb90;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px auto 0;
}
.banner-box-bottom {
  height: 578px;
  background: url(../img/img/banner2.png);
  font-size: 0;
  color: transparent;
  text-indent: -99999px;
}
.video-box {
  padding: 140px 0 100px;
  display: flex;
  justify-content: center;
}
.video-box > video {
  width: 1280px;
}
/* #advideo {
  width: 1280px;
  height: 720px;
  border: 0;
} */
/* 푸터 */
.notice-area {
  padding-top: 26px;
  padding-bottom: 25px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  .inner {
    .notice {
      display: flex;
      align-items: center;
      gap: 40px;
      dt {
        font-size: 22px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.25px;
      }
      dd {
        color: #333;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: -0.25px;
      }
    }
  }
} /* e:notice-area */
.footer-contents {
  padding-top: 48px;
  padding-bottom: 60px;
  .inner {
    display: flex;
    gap: 101px;
    .footer-contents-title {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.25px;
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 11px;
      margin-bottom: 8px;
    }
  }
}
.customer-center {
  > h3 .decs {
    .center-info {
      > p {
        > strong {
          font-size: 26px;
          font-weight: 700;
          letter-spacing: -0.25px;
          color: #222;
        }
      }
      > ul {
        margin-top: 6px;
        > li {
          font-size: 13px;
          line-height: 160%;
          letter-spacing: -0.25px;
          > strong {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.center-quick-menu {
  margin-top: 12px;
  display: flex;
  gap: 2px;
  > a {
    width: 186px;
    height: 60px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 13px;
    letter-spacing: -0.25px;
  }
}
